
.git
.gitignore

.vscode/
.spyproject/
.ipynb_checkpoints/
__pycache__/

proc_data/
data/
tmp/
subs/
oofs/
logs/
folds/
checkpoints/
pretrained_models/
*_output/
probs/

papers/
old/

*.png
*.ods
*.ods#
